---
import { cn } from '~/lib/utils'
import NumberTicker from './NumberTicker'
import Magnet from '~/components/reactbits/Magnet'

interface Props extends Omit<astroHTML.JSX.AnchorHTMLAttributes, 'class' | 'children'> {
  icon: string
  count?: number
  label?: string
  class?: string | Record<string, boolean>
}

const { label, icon, count, class: className, ...props }: Props = Astro.props
const href = props.href as string
const isGithub = href?.includes('github.com')
const githubUser = isGithub ? href.split('/').filter(Boolean).pop() : undefined
---

<Magnet client:load padding={42} magnetStrength={5} wrapperClassName="inline-block">
  <a
    class={cn(
      'group -m-1 p-1 ring-offset-background focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 rounded-lg flex items-center gap-2 cursor-pointer',
      'transition-all duration-300 ease-out',
      className
    )}
    {...props}
    target="_blank"
  >
    <span
      class={cn('h-6 w-6 text-muted-foreground transition-all duration-300 ease-out', 'group-hover:text-primary group-hover:rotate-6', icon)}
    ></span>
    {
      count !== undefined && (
        <span class="text-muted-foreground text-sm transition-colors duration-300 group-hover:text-primary">
          <NumberTicker play value={count} label={label} githubUser={githubUser} />
        </span>
      )
    }
  </a>
</Magnet>
